.productsSection {
  margin-top: 5rem;
}

/* tabs */
.tabs {
  display: flex;
}

.tab {
  background-color: var(--color-bg-products);
  color: var(--color-text);
  font-weight: var(--fw-semibold);
  padding: 10px;
  border: 1px solid var(--color-border-products);
  border-left: none;
  transition: border 0.3s ease;
}

.tab.active {
  border-top: 3px solid var(--color-brand);
  border-bottom: none;
}

/* grid */
.productsGrid {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(auto-fit, minmax(218px, 5fr));
  align-items: stretch;
  padding: 40px;
  background-color: var(--color-bg-products);
}

/* breakpoints */
@media (max-width: 640px) {
  .tab {
    padding: 5px;
  }
}
