.productCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--space-4);
  background-color: var(--color-bg);
  gap: 10px;
}

/* title */
.productCard-title {
  margin: 0;
  font-size: var(--fs-3);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  min-height: calc(2 * 1.2em);
}

/* specification */
.productCard-spec {
  margin: 0;
  line-height: 1.3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

/* image */
.productCard-imgWrap {
  width: 100%;
  height: 150px;
  background: var(--color-bg);
  border-radius: var(--radius-card);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.productImg {
  flex: 1;
  width: 100%;
  min-height: 0;
  object-fit: contain;
  display: block;
}

/* rating */
.productCard-rating {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
}

/* price + buyButton */
.priceBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productCard-price {
  font-weight: var(--fw-bold);
  color: var(--color-brand);
}

.available {
  font-size: var(--fs-1);
  font-weight: var(--fw-medium);
}

/* breakpoints */
@media (max-width: 768px) {
  .productCard-price {
    font-size: var(--fs-3);
  }}