/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;   
}

/* global styles */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-size: var(--fs-3);
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  body {
    font-size: var(--fs-2);
  }
}

/* breakpoints
  640px,
  768px,
  1024px,
  1280px,
  1536px, */
