:root {
  /* Colors */
  --color-text: #000;
  --color-bg: #fff;
  --color-brand: #7fca50;

  /* Font sizes */
  --fs-1: 0.75rem; /* 12px */
  --fs-2: 0.875rem; /* 14px */
  --fs-3: 1rem; /* 16px */
  --fs-4: 1.125rem; /* 18px */
  --fs-5: 1.25rem; /* 20px */
  --fs-6: 1.5rem; /* 24px */
  --fs-7: 1.875rem; /* 30px */
  --fs-8: 2.25rem; /* 36px */
  --fs-9: 3rem; /* 48px */

  /* Font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Spacing */
  --space-0: 0;
  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.25rem; /* 20px */
  --space-6: 1.5rem; /* 24px */
  --space-7: 2rem; /* 32px */
  --space-8: 2.5rem; /* 40px */
  --space-9: 3rem; /* 48px */
  --space-10: 4rem; /* 64px */

  /* cards */
  --radius-card: 1rem;
  --shadow-card: 0 4px 10px rgba(0, 0, 0, 0.12);
}
