.nav-wrapper {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg);
}

.nav-logo {
  width: 70px;
}

.avatar {
  width: 50px;
  border: 1px solid var(--color-brand);
  border-radius: 10px;
}

/* breakpoints */
@media (max-width: 768px) {
  .nav-wrapper {
    padding: 0px var(--space-3);
  }
  .nav-logo {
    width: 60px;
  }

  .avatar {
    width: 40px;
  }
}